<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="Corentin Mercier">
  <meta name="description" content="Calculate your gains on Moonsama Minecraft.">

  {# Favicon #}
  <link rel="icon" type="image/x-icon" href="/static/img/ingots.png">

  {# Social media cards #}
  {# Twitter #}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Mooncraft | Moonsama Minecraft Gain Calculator">
  <meta name="twitter:image" content="https://mooncraft.cc/static/img/thumbnail.jpg">

  {# Facebook #}
  <meta property="og:url" content="https://mooncraft.cc">
  <meta property="og:title" content="Mooncraft | Moonsama Minecraft Gain Calculator">
  <meta property="og:type" content="website">
  <meta name="twitter:image" content="https://mooncraft.cc/static/img/thumbnail.jpg">
  <meta property="og:image:type" content="image/jpg">

  {# CSS #}
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJ895N23T4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NJ895N23T4');
  </script>

  <title>Mooncraft | Moonsama Minecraft Gain Calculator</title>
</head>

<body class="bg-gray-900 text-white" x-data="{ movrPrice: '' }">
  <noscript>You need to enable JavaScript to run this app.</noscript>

  {# Navbar #}
  <nav>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">

        <div class="flex-1 flex items-center sm:items-stretch justify-start">
          <div class="sm:ml-6">
            <div class="flex space-x-4">
              <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">
                <img src="/static/img/ingots.png" alt="Gold ingots" class="h-6 w-6">
              </a>
            </div>
          </div>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

          <!-- MOVR price ticker -->
          <div class="ml-3 relative">
            <div class="flex">
              <span
                class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium mr-2" id="movrPrice"
                x-init="
                  response = await fetch('https://api.zenlink.pro/rpc', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      'id': 0,
                      'jsonrpc': '2.0',
                      'method': 'rateHistory.get',
                      'params': [
                        '2023-255-0x98878b06940ae243284ca214f92bb71a2b032b8a',
                        '2023-255-0xe3f5a90f9cb311505cd691a46596599aa1a0ad7d',
                        '1650285277',
                        '1650371677',
                        '900'
                      ]
                    })
                  })
                  data = await response.json()

                  movrPrice = data.result.slice(-1)[0].rate.toFixed(2)
                "
                x-text="`$${movrPrice}`"
              >
                -
              </span>
              <span class="flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-expanded="false" aria-haspopup="true">
                <img class="h-8 w-8 rounded-full" src="/static/img/movr.png" alt="Moonriver logo">
              </span>
            </div>
          </div>
          <!-- /MOVR price ticker -->

        </div>
      </div>
    </div>

  </nav>
  {# /Navbar #}

  <section class="max-w-7xl mx-auto">
    {% block body %}{% endblock %}

    {# Footer #}
    <footer class="px-8 my-16 flex flex-col sm:flex-row justify-center items-center text-center">
      <div class="footer-link">
        This website is open source on <a href="https://github.com/merc1er/moonsama-gain-calculator" class="link" target="_blank">GitHub</a>
      </div>

      <div class="mx-4 hidden sm:block">|</div>

      <div class="footer-link">
        Made with ❤️ by <a href="https://twitter.com/merc1er" class="link" target="_blank">merc1er</a> and <a href="https://twitter.com/misterkhunjame" class="link" target="_blank">misterjame</a>
      </div>
    </footer>
    {# /Footer #}
  </section>

  <!-- JavaScript -->
  <script src="/static/js/main.js"></script>

</body>
</html>
