{% extends "base.njk" %}

{% block body %}
  <!-- Hero header -->
  <section class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 flex">
    <div class="flex-1">
      <h1 class="text-4xl tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl">
        <span class="block">Moonsama Minecraft</span>
        <span class="block text-green-500">Gain Calculator</span>
      </h1>
    </div>
    <!-- Dot pattern -->
    <div class="hidden md:inline-block mr-5">
      {% include "icons/dot-pattern.svg" %}
    </div>
  </section>
  <!-- /Hero header -->
{% endblock %}
