{% extends "base.njk" %}

{% block body %}
<section
  class="w-full px-8"
  x-data="{ username: '', resources: '', openTab: 1, showResults: false, load: false, prices: '', total: 0, userNotFound: false }"
>
  <div class="max-w-5xl mx-auto">

    <!-- Title -->
    <div class="text-center py-16">
      <h1 class="text-3xl tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl">
        <span class="block">Moonsama Minecraft</span>
        <span class="block text-blue-500">Gain Calculator</span>
      </h1>
    </div>
    <!-- /Title -->

    <!-- Input form -->
    <div class="w-full sm:w-96 mx-auto">

      <!-- Tab selector -->
      <!-- <div class="flex">
        <div @click="openTab = 1" class="flex-1 text-center py-4 rounded-tl-lg px-4 cursor-pointer hover:bg-blue-400" :class="openTab === 1 ? 'bg-gray-200 text-blue-500': 'bg-blue-500 text-white'">
          Automatic
        </div>
        <div @click="openTab = 2" class="flex-1 text-center py-4 rounded-tr-lg px-4 cursor-pointer hover:bg-blue-400" :class="openTab === 2 ? 'bg-gray-200 text-blue-500': 'bg-blue-500 text-white'">
          Manual
        </div>
      </div> -->
      <!-- /Tab selector -->

      <!-- Form content -->
      <div
        class="card-form"
        x-data="{ weekSelectorOpen: false, date: '2022-04-24' }"
      >
        <div class="w-full">
          <!-- By User Tab -->
          <div x-show="openTab === 1" x-transition.duration.0ms>

            <img src="/static/img/minecraft.png" alt="Minecraft characters" class="h-44 mx-auto">

            <!-- Week selector -->
            <div class="mt-3">
              <label id="listbox-label" class="block text-sm font-medium text-gray-700">Carnage event date</label>
              <div class="mt-1 relative">
                {# Week main input #}
                <button
                  type="button"
                  class="relative w-full bg-white cursor-pointer border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600 sm:text-sm"
                  aria-haspopup="listbox"
                  aria-expanded="true"
                  aria-labelledby="listbox-label"
                  @click="weekSelectorOpen = !weekSelectorOpen"
                  @click.away="weekSelectorOpen = false"
                >
                  <span class="flex items-center">
                    <span class="block truncate" x-text="formatDate(date)"></span>
                  </span>
                  <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                    {% include "icons/selector.svg" %}
                  </span>
                </button>
                {# /Week main input #}

                <ul class="selector-ul" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3" x-show="weekSelectorOpen">

                  <li @click="date = '2022-04-24'">
                    <div class="flex items-center">
                      <span>24 April 2022</span>
                    </div>
                  </li>

                  <li @click="date = '2022-04-17'">
                    <div class="flex items-center">
                      <span>17 April 2022</span>
                    </div>
                  </li>

                  <li @click="date = '2022-04-10'">
                    <div class="flex items-center">
                      <span>10 April 2022</span>
                    </div>
                  </li>

                  <li @click="date = '2022-04-03'">
                    <div class="flex items-center">
                      <span>3 April 2022</span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>


            <!-- Username input -->
            <div class="my-4">
              <input type="text" x-model="username" autocorrect="off" autocapitalize="off" spellcheck="false" name="minecraftname" class="input" placeholder="Minecraft name">
              <div x-show="userNotFound">
                <div class="text-center text-red-700">User not found</div>
              </div>
            </div>

            <div class="block">
              <button
                class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg"
                x-on:click="
                  load = true

                  response = await fetch(`https://mcapi.moonsama.com/game/minecraft-carnage-${date}/carnage-stats/result/final?player=${username}`)
                  resources = await response.json()
                  if (resources.player){
                    prices = await getAllMaterialsMovr()
                    total = await getTotal(resources, prices, movrPrice)
                    showResults = true
                    userNotFound = false
                  } else {
                    userNotFound = true
                  }

                  load = false
                "
              >
                <span x-show="!load">Calculate</span>
                <span x-show="load">{% include "icons/loader.svg" %}</span>
              </button>
            </div>

            <div x-show="showResults && resources.player" class="mt-2">
              <!-- <ul x-for="resource in resources">
                <li x-text="resource"></li>
              </ul> -->
              <div class="mt-2 w-full px-3 mt-4" x-data="{ detailedView: false }">
                <div class="text-center text-lg font-bold">Total value of your resources</div>

                <div class="flex items-center mt-2 justify-center">
                  <span x-text="total.movr"></span> <img src="/static/img/movr.png" class="h-4 w-4"> (~ $<span x-text="total.usd"></span>)
                </div>

                <div class="text-center mt-2">
                  <div class="text-gray-600 hover:text-blue-600 text-sm underline cursor-pointer" @click="detailedView = !detailedView">Detailed view</div>
                </div>

                <table x-show="detailedView" class="table-auto w-full text-sm text-left text-gray-800">
                  <thead>
                    <tr>
                      <th colspan="2" >Material</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="w-1/12">🪵</td>
                      <td class="w-3/12">Wood</td>
                      <td class="w-3/12" x-text="`${parseFloat(resources.wood).toFixed(3)}`"></td>
                      <td class="w-5/12" x-text="`${(resources.wood * prices.wood).toFixed(3)} MOVR`"></td>
                    </tr>
                    <tr>
                      <td>🗿</td>
                      <td>Stone</td>
                      <td x-text="`${parseFloat(resources.stone).toFixed(3)}`"></td>
                      <td x-text="`${(resources.stone * prices.stone).toFixed(3)} MOVR`"></td>
                    </tr>
                    <tr>
                      <td>🪨</td>
                      <td>Iron</td>
                      <td x-text="`${parseFloat(resources.iron).toFixed(3)}`"></td>
                      <td x-text="`${(resources.iron * prices.iron).toFixed(3)} MOVR`"></td>
                    </tr>
                    <tr>
                      <td>🟢</td>
                      <td>Exp</td>
                      <td x-text="`${parseFloat(resources.exp).toFixed(3)}`"></td>
                      <td x-text="`${(resources.exp * prices.exp).toFixed(3)} MOVR`"></td>
                    </tr>
                    <tr>
                      <td>🌾</td>
                      <td>Grain</td>
                      <td x-text="`${parseFloat(resources.grain).toFixed(3)}`"></td>
                      <td x-text="`${(resources.grain * prices.grain).toFixed(3)} MOVR`"></td>
                    </tr>
                    <tr>
                      <td>🥇</td>
                      <td>Gold</td>
                      <td x-text="`${parseFloat(resources.gold).toFixed(3)}`"></td>
                      <td x-text="`${(resources.gold * prices.gold).toFixed(3)} MOVR`"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
          <!-- End By User Tab -->

          <!-- By Resources Tab -->
          <div class="" x-show="openTab === 2" x-transition.duration.0ms>
            <h3 class="mb-6 text-2xl font-medium text-center">Input your resources</h3>
            <!-- wood -->
            <input type="number" name="wood" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Wood 🪵">

            <!-- stone -->
            <input type="number" name="stone" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Stone 🪨">

            <!-- iron -->
            <input type="number" name="iron" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Iron 🪙">

            <!-- exp -->
            <input type="number" name="exp" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Exp 🟢">

            <!-- grain -->
            <input type="number" name="grain" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Grain 🌾">

            <!-- gold -->
            <input type="number" name="gold" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Gold 🥇">

            <div class="block">
              <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg">Calculate</button>
            </div>
          </div>
          <!-- End By Resources Tab -->

        </div>
      </div>
      <!-- Form content -->

    </div>
    <!-- /Input form -->

  </div>
</section>
{% endblock %}
