{% extends "base.njk" %}

{% block body %}
<section class="w-full px-8" x-data="{ username: '', resources: '', openTab: 1, showResults: false }">
  <div class="max-w-5xl mx-auto">

    <!-- Title -->
    <div class="text-center py-16">
      <h1 class="text-3xl tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl">
        <span class="block">Moonsama Minecraft</span>
        <span class="block text-blue-500">Gain Calculator</span>
      </h1>
    </div>
    <!-- /Title -->

    <!-- Input form -->
    <div class="w-full sm:w-96 mx-auto">

      <!-- Tab selector -->
      <div class="flex">
        <div @click="openTab = 1" class="flex-1 text-center py-4 rounded-tl-lg px-4 cursor-pointer hover:bg-blue-400" :class="openTab === 1 ? 'bg-gray-200 text-blue-500': 'bg-blue-500 text-white'">
          Automatic
        </div>
        <div @click="openTab = 2" class="flex-1 text-center py-4 rounded-tr-lg px-4 cursor-pointer hover:bg-blue-400" :class="openTab === 2 ? 'bg-gray-200 text-blue-500': 'bg-blue-500 text-white'">
          Manual
        </div>
      </div>
      <!-- /Tab selector -->

      <!-- Form content -->
      <div class="card-form">
        <div class="w-full pt-4">
          <!-- By User Tab -->
          <div class="" x-show="openTab === 1">

            <h3 class="mb-6 text-2xl font-medium text-center">Input your username</h3>

            <!-- Username input -->
            <div class="mb-4">
              <input type="text" x-model="username" autocorrect="off" autocapitalize="off" spellcheck="false" name="username" class="input" placeholder="Minecraft username">

              <div x-show="showResults && !resources.player">
                <div class="text-center text-red-700">User not found</div>
              </div>
            </div>

            <div class="block">
              <button
                class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg"
                x-on:click="
                  response = await fetch('https://mcapi.moonsama.com/game/minecraft-carnage-2022-04-17/carnage-stats/result/final?player=' + username)
                  resources = await response.json()
                  showResults = true
                "
              >
                Calculate
              </button>
            </div>

            <div x-show="showResults && resources.player">
              <!-- <ul x-for="resource in resources">
                <li x-text="resource"></li>
              </ul> -->
              <div x-text="`Wood 🪵: ${resources.wood}`"></div>
              <div x-text="`Stone 🪨: ${resources.stone}`"></div>
              <div x-text="`Iron 🪙: ${resources.iron}`"></div>
              <div x-text="`Exp 🟢: ${resources.exp}`"></div>
              <div x-text="`Grain 🌾: ${resources.grain}`"></div>
              <div x-text="`Gold 🥇: ${resources.gold}`"></div>
            </div>

          </div>
          <!-- End By User Tab -->

          <!-- By Resources Tab -->
          <div class="" x-show="openTab === 2">
            <h3 class="mb-6 text-2xl font-medium text-center">Input your resources</h3>
            <!-- wood -->
            <input type="number" name="wood" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Wood 🪵">

            <!-- stone -->
            <input type="number" name="stone" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Stone 🪨">

            <!-- iron -->
            <input type="number" name="iron" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Iron 🪙">

            <!-- exp -->
            <input type="number" name="exp" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Exp 🟢">

            <!-- grain -->
            <input type="number" name="grain" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Grain 🌾">

            <!-- gold -->
            <input type="number" name="gold" class="block w-full bg-gray-100 px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Gold 🥇">

            <div class="block">
              <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg">Calculate</button>
            </div>
          </div>
          <!-- End By Resources Tab -->

        </div>
      </div>
      <!-- Form content -->

    </div>
    <!-- /Input form -->

  </div>
</section>
{% endblock %}
